@model lab12.Models.CalculationExpressionModel

@{
    string action = ViewContext.RouteData.Values["Action"].ToString();
    ViewData["Title"] = action;
}

<h2>@ViewData["Title"]</h2>

@ViewData["Result"]