@{
    ViewData["Title"] = "Home Page";
}

    <h2>Calc Service Demonstration</h2>
    <ul>
    <li><a asp-area="" asp-controller="Home" asp-action="ModelCalc">Using Model Calc</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ViewDataCalc">Using ViewData Calc</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ViewBagCalc">Using ViewBag Calc</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="injectionCalc">Using Service Injection Calc</a></li>
    </ul>