# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o
*.cbp
*.depend
*.layout
*.exe
*.opt
*.pabcproj
*.lpi
*.lpr
*.lfm
*.lps
*.res
*.ico
*.vcxproj
*.filters
*.user
*.ilk
*.recipe
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.suo
*.db
*.ipch