* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.header {
    background-color: green;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.content {
    flex: auto 1 1;
    display: flex;
}

.content__container {
    display: flex;
}

.content__sidebar {
    flex: 30% 0 0;
    background-color: red;
    padding: 20px 10px 20px 40px;
}

.sidebar__nav {
    display: grid;
    gap: 10px;
}

.sidebar__link {
    color: #fff;
    transition: background-color 0.3s ease-out;
}

.sidebar__link:hover {
    background-color: green;
}

.content__text {
    flex: auto 1 1;
    padding: 20px 20px 5px 20px;
    text-align: justify;
}

.content__text::first-letter {
    font-size: 130%;
    color: red;
}

.content__text::selection {
    background-color: green;
    color: #fff;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}